<!doctype html>
<html>
     <head>
          <meta charset="UTF-8"/>
          <title>STX NEXT-Books</title>
     </head>
     <header>
         <a href={% url 'book_add' %}><button>Add new book</button></a>
     </header>
     <body>
         <h2>Search:</h2>
         <form method="GET">
             {{form.as_p}}
            <input type="submit" value="search">
         </form>
         <h2>List:</h2>
         {%for book in object_list%}
            <p>{{book}}</p>
         {%endfor%}
     </body>
</html>